@import "tailwindcss";

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Lora", serif;

  --color-background: #1e1e2e;
  --color-crust: #11111b;

  --color-card: #313244;

  --color-primary: #cdd6f4;
  --color-muted: #bac2de;

  --color-sky: #89dceb;
  --color-sapphire: #74c7ec;
  --color-blue: #89b4fa;
  --color-pink: #cba6f7;

  --color-border: #45475a;

  --color-success: #a6e3a1;
  --color-warning: #f9e2af;
  --color-danger: #f38ba8;
  --color-info: #89b4fa;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  border-radius: var(--radius-md);
}

.social img {
  transition: transform 0.1s ease;
}

.social img:hover {
  transform: scale(1.15);
}

.link {
  background-color: var(--color-blue);
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  color: var(--color-crust);
  border-radius: var(--radius-3xl);
  transition: transform 0.1s ease;
}

.link:hover {
  transform: scale(1.1);
}

.link-2 {
  background-color: var(--color-pink);
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  color: var(--color-crust);
  border-radius: var(--radius-3xl);
  transition: transform 0.1s ease;
  align-items: center;
}

.link-2:hover {
  transform: scale(1.05);
}